<template>
<b-card-group deck class="mb-3">
  <c-album :album="album" :key="album.id" v-for="album in albums" />
</b-card-group>
</template>

<script>
import Album from './Album'
import albums from './data'

export default {
  components: {
    'c-album': Album
  },
  data() {
    return {
      albums: null
    }
  },
  mounted() {
    this.$api.get('albums/').then(
      ({data}) => (this.albums = data)
    )
  },
  methods: {
    addAlbum(id) {
      const form = new FormData()
      form.append('album', id)
      this.$api.post('favorites/', form)
        .then(() => { this.hideAlbum(id) })
        .catch(() => { this.hideAlbum(id) })
    },
    hideAlbum(id) {
      const index = this.albums.findIndex(album => album.id === id)
      this.albums.splice(index, 1)
    }
  }
}
</script>

<style scoped>
  .card {
    min-width: 20rem;
  }
  .card-img {
    height: 175px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: 1px solid #343a40;
  }
  .btn-like {
    display: flex;
    position: absolute;
    top: 5%;
    right: 5%;
  }
</style>
