<template>
  <div v-if="album">
    <h4 class="text-center">{{album.name}} by {{album.artist.name}}</h4>
    <p class="float-lg-right">Runnig time - {{album.length}}</p>
    <p>Release date - {{album.released_date}}</p>

    <b-list-group>
      <b-list-group-item v-for="track in tracks" :key="track.id">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{track.name}}</h5>
          <small>{{track.length}}</small>
        </div>
      </b-list-group-item>
    </b-list-group>
  </div>
</template>

<script>
export default {
  data() {
    return {
      album: null
    }
  },
  mounted() {
    const id = this.$route.params.id
    this.$api.get(`albums/${id}/`)
      .then(({data}) => (this.album = data))
  },
  computed: {
    tracks: function() {
      return this.album.tracks
    }
  }
}
</script>
