<template>
   <b-card class="mb-2"
           bg-variant="light"
           border-variant="dark"
           :title="album.name"
           :img-src="album.cover">
    <p class="card-text">{{album.artist.name}}</p>
    <b-button variant="warning" class="btn-like" @click="callParent">+</b-button>
  <b-button :to="`/albums/${album.id}`" variant="dark" block>Detail</b-button>
  </b-card>
</template>

<script>
export default {
  name: 'Album',
  props: {
    album: {
      type: Object
    }
  },
  methods: {
    callParent() {
      if (this.$parent.hasOwnProperty('addAlbum')) {
        return this.$parent.addAlbum(this.album.id)
      }
      return console.info('The parent component does not have method `addAlbum`.')
    }
  }
}
</script>

<style scoped>
.card {
  max-width: 21.88rem;
}
.card-img {
  height: 175px;
  background-size: cover;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom: 1px solid #343a40;
}
.btn-like {
  display: flex;
  position: absolute;
  top: 5%;
  right: 5%;
}
</style>
