<template>
  <b-container>
    <b-row>
      <b-col lg="4" offset-lg="4">
      <b-form @submit.prevent="onSubmit" @reset.prevent="onReset">
        <h4 class="text-center">Login</h4>
        <b-alert :show="showAllert" variant="danger">{{allertMsg}}</b-alert>
        <b-form-group label="Username:" label-for="username">
          <b-form-input id="username"
                        type="text"
                        v-model="form.username"
                        placeholder="Username" required>
          </b-form-input>
        </b-form-group>
        <b-form-group label="Password:" label-for="password">
          <b-form-input id="password"
                        type="password"
                        v-model="form.password"
                        placeholder="Password" required>
          </b-form-input>
        </b-form-group>
        <b-button type="submit" variant="dark" block>Submit</b-button>
      </b-form>
      </b-col>
    </b-row>
</b-container>
</template>

<script>
export default {
  data() {
    return {
      form: {
        username: '',
        password: ''
      },
      errors: {}
    }
  },
  methods: {
    loginSuccessful(resp) {
      localStorage.token = resp.key
      this.$router.replace('/albums')
    },
    loginFailed(resp) {
      this.errors = resp.data
    },
    onSubmit(evt) {
      const form = JSON.stringify(this.form)
      this.$api.post('auth/login/', form)
        .then(({data}) => this.loginSuccessful(data))
        .catch(({response}) => { this.loginFailed(response) })
    },
    onReset(evt) {
      this.form.username = ''
      this.form.password = ''
    }
  },
  computed: {
    showAllert: function() {
      return this.errors.hasOwnProperty('non_field_errors')
    },
    allertMsg: function() {
      return this.errors.non_field_errors
    }
  }
}
</script>
