<template>
    <b-row>
      <b-col lg="4" offset-lg="4">
        <br>
      <b-form @submit.prevent="onSubmit">
        <h4 class="text-center">Registration</h4>
        <b-alert show variant="danger">{{$v.form}}</b-alert>
        <b-form-group label="Username:" label-for="username">
          <b-form-input id="username"
                        type="text"
                        v-model="$v.form.username.$model"
                        :state="isUsernameValid"
                        placeholder="Username">
          </b-form-input>
          <b-form-invalid-feedback>{{usernameErrorMsg}}</b-form-invalid-feedback>
        </b-form-group>
        <b-form-group label="Password:" label-for="password">
          <b-form-input id="password"
                        type="password"
                        v-model="$v.form.password.$model"
                        :state="isPasswordValid"
                        placeholder="Password">
          </b-form-input>
          <b-form-invalid-feedback>{{passwordErrorMsg}}</b-form-invalid-feedback>
        </b-form-group>
        <b-form-group label="Confirm password:" label-for="password2">
          <b-form-input id="password2"
                        type="password"
                        v-model="$v.form.password2.$model"
                        :state="isPassword2Valid"
                        placeholder="Confirm password">
          </b-form-input>
          <b-form-invalid-feedback>{{password2ErrorMsg}}</b-form-invalid-feedback>
        </b-form-group>
        <b-button type="submit" variant="dark" block :disabled="isFormValid">Submit</b-button>
      </b-form>
    </b-col>
    </b-row>
</template>

<script>
import { required, alphaNum, minLength, sameAs } from 'vuelidate/lib/validators'

export default {
  data() {
    return {
      form: {
        username: 'admin',
        password: '111111',
        password2: '111111'
      }
    }
  },
  methods: {
    onSubmit(evt) {
      const form = new FormData()
      form.append('username', this.form.username)
      form.append('password1', this.form.password)
      form.append('password2', this.form.password2)
      this.$api.post('auth/registration/', form)
        .then(resp => { console.log(resp) })
        .catch(resp => { console.log(resp.response) })
    }
  },
  computed: {
    isUsernameValid() {
      return !this.$v.form.username.$dirty ? null : !this.$v.form.username.$invalid
    },
    isPasswordValid() {
      return !this.$v.form.password.$dirty ? null : !this.$v.form.password.$invalid
    },
    isPassword2Valid() {
      return !this.$v.form.password2.$dirty ? null : !this.$v.form.password2.$invalid
    },
    usernameErrorMsg() {
      if (!this.$v.form.username.required) {
        return 'This field is required.'
      }
      if (!this.$v.form.username.alphaNum) {
        return 'Only English letters and numbers are allowed.'
      }
    },
    passwordErrorMsg() {
      if (!this.$v.form.password.required) {
        return 'This field is required.'
      }
      if (!this.$v.form.username.minLength) {
        return 'Minimal field length is 7 symbols.'
      }
    },
    password2ErrorMsg() {
      if (!this.$v.form.password2.sameAsPassword) {
        return 'Passwords does not match.'
      }
    },
    isFormValid() {
      return this.$v.$invalid
    }
  },
  validations: {
    form: {
      username: {
        required,
        alphaNum
      },
      password: {
        required,
        minLength: minLength(6)
      },
      password2: {
        sameAsPassword: sameAs('password')
      }
    }
  }
}
</script>
