<template>
  <div id="app">
    <navbar></navbar>
    <b-container>
      <router-view/>
    </b-container>
  </div>
</template>

<script>
import Navbar from '@/layouts/Navbar'

export default {
  name: 'App',
  components: {
    Navbar
  }
}
</script>

<style>
  boby {
    background-color: '#e3e3e3'
  }
  .container {
    margin-top: 15px;
  }
</style>
